<div class="main container-fluid vertical-center">
    <div class="form-content">
        <div class="row">
            <div class="container">
                <h1>Administrar Clientes</h1>
            </div>
            <div class="col detalle">
                
                <div class="form-group label">
                    <form>
                        <label class="label-espacio">Es PEP?:</label>
                        <input class="label-espacio" name="theradio" id="radio1" type='radio' checked/>
                        <label for="radio1"> Si </label>
                        <input class="label-espacio" name="theradio" id="radio1" type='radio' checked/>
                        <label for="radio1"> No </label>
                        <div class="alinear-boton">
                            <button type="button" class="btn login-btn">Editar</button>
                        </div>               
                    </form>
                </div>
                <div class="form-group label">
                    <label class="label-espacio">ID:</label>
                    <input class="label-espacio equipo1" type="text" name="id">
                    <label class="label-espacio">Nombre:</label>
                    <input class="label-espacio equipo1" type="text" name="nombre">
                    <img src="fotoPerfil.png" style="width: 400;height: 400;">


                </div>
                <div class="form-group label">
                    <label class="label-espacio">Apellidos:</label>
                    <input class="label-espacio equipo1" type="text" name="apellidos" id="apellidos">
                    <label class="label-espacio">DNI:</label>
                    <input class="label-espacio equipo1" type="text" name="dni" id="id">
                    <label class="label-espacio">Correo:</label>
                    <input class="label-espacio equipo1" type="text" name="correo" id="correo">
                </div>
                <div class="form-group label">
                    <label class="label-espacio">Teléfono:</label>
                    <input class="label-espacio equipo1" type="number" name="telefono" id="telefono">
                    <label class="label-espacio">Dirección:</label>
                    <input class="label-espacio equipo1" type="text" name="direccion" id="direccion">
                    <label class="label-espacio">Distrito:</label>
                    <input class="label-espacio equipo1" type="text" name="distrito" id="distrito">
                </div>
                <div class="form-group label">
                    <label class="label-espacio">Provincia:</label>
                    <input class="label-espacio equipo1" type="number" name="provincia" id="provincia">
                    <label class="label-espacio">Departamento:</label>
                    <input class="label-espacio equipo1" type="text" name="departamento" id="departamento">
                </div>
                <div class="alinear-boton">
                    <button type="button" class="btn login-btn">Guardar</button>
                    <button type="button" class="btn login-btn">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
