<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-light navbar-toggleable-md">
        <div class="navbar-brand">
            <h3 class="color-titulo">Grupo 3</h3>
            <span>Apuesta hoy y gana mañana</span>
        </div>   
        <div class="">
            <ul class="navbar-nav-boton ml-auto mr-5">
                <li class="nav-item soporte-whatsapp">
                    <button class="btn btn-dark" (click)="abrirCuenta()"> Abrir cuenta</button>                  
                </li>
                <li class="nav-item soporte-whatsapp">
                    <button class="btn btn-dark" (click)="iniciarSesion()"> Iniciar Sesion</button>                
                </li>
            </ul>  
        </div>
    </nav>
</div>
