<div class="main container-fluid vertical-center">
    <div class="form-content">
        <div class="row">
            <div class="container">
                <h1>Administrar Partidas</h1>
            </div>
            <div class="col detalle">
                
                <div class="form-group label">
                    <form>
                        <label class="label-espacio">Juego:</label>
                        <select class="label-espacio equipo1" name = "Juego">
                            <option>--Seleccionar--</option>
                            <option>Fútbol</option>
                            <option>Voley</option>
                            <option>Basket</option>
                            <option>Golf</option>
                            <option>Tennis</option>
                        </select>
                        <label class="label-espacio">Fecha:</label>
                        <input class="label-espacio equipo1" type="date" name="day">                  
                    </form>
                </div>
                <div class="form-group label">
                    <label class="label-espacio">Hora:</label>
                    <input class="label-espacio equipo1" type="text" name="duracion">
                    <label class="label-espacio">Estado:</label>
                        <input class="label-espacio" name="theradio" id="radio1" type='radio' checked/>
                        <label for="radio1"> Iniciado</label>
                        <input class="label-espacio equipo1" name="theradio" id="radio1" type='radio' checked/>
                        <label for="radio1"> Pendiente</label>
                        <input class="label-espacio equipo1" name="theradio" id="radio1" type='radio' checked/>
                        <label for="radio1"> Finalizado</label>
                </div>
                <div class="form-group equipo">
                    <label class="label-espacio equipo1">Equipo 1</label>
                    <label class="label-espacio equipo2">Equipo 2</label>
                </div>
                <div class="form-group label">
                    <label class="label-espacio">Equipos:</label>
                    <input class="label-espacio equipo1" type="text" name="equipo" id="equipo 1">
                    <input class="label-espacio equipo1" type="text" name="equipo" id="equipo 1">
                </div>
                <div class="form-group label">
                    <label class="label-espacio">Factor:</label>
                    <input class="label-espacio equipo1" type="text" name="Factor" id="factor">
                    <input class="label-espacio equipo1" type="text" name="Factor" id="factor">
                </div>
                <div class="form-group label">
                    <label class="label-espacio">Factor Empate:</label>
                    <input class="label-espacio equipo1" type="text" name="Factor" id="factor">
                </div>
                <div class="form-group label">
                    <form>
                        <label class="label-espacio">Resultado:</label>
                        <select class="label-espacio equipo1" name = "Resultado">
                            <option>--Seleccionar--</option>
                            <option>Ganó Equipo A</option>
                            <option>Ganó Equipo B</option>
                            <option>Empate</option>
                        </select>                        
                    </form>
                </div>
                <div class="alinear-boton">
                    <button type="button" class="btn login-btn">Guardar</button>
                    <button type="button" class="btn login-btn">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
