<div class="fixed-bottom footer d-flex justify-content-center">
    <small>
        <div>
            <span class="footer-titulo">Grupo 3<br><span style="margin-left: 0.5em;">2021</span></span>
        </div>
        
        <small>
            <a [routerLink]="'/documentos/terminos'" target="_blank">Términos y Condiciones</a>
            <a [routerLink]="'/documentos/reglas'" target="_blank">Reglas de Juego</a> 
            <a [routerLink]="'/documentos/nosotros'" target="_blank">Nosotros</a> 
            <hr>
            <span class="apuesta-gana">Apuesta hoy y gana mañana</span>
            <br>
        </small>
       
    </small>
    
</div>
