<app-header-full></app-header-full>
<div class="bienvenida">
    <p-carousel [value]="banners" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true"
        [autoplayInterval]="3000">
        <ng-template let-banner pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <img class="img-carouesel" src="{{banner.urlImage}}" />
                </div>
            </div>
        </ng-template>
    </p-carousel>
    <div class="contenido-bienvenida">
        <span class="negrita">Bienvenido a Grupo 3</span><span> donde puedes apostar hoy y ganar mañana</span>
        <br>
        <span>Busca todos tus deportes preferidos y no te quedes con las ganas de apoyar a tu equipo favorito.
            Suerte!</span>
    </div>
</div>
<app-footer></app-footer>