<div class="col-xl-12">

    <div class="ui-g-12 content">
  
      <button class="btn btn-primary btn-lg-maintenance mr-3" (click)="onClickNuevo()">Registrar</button>
  
      <div>
        
    <p-table #dt [value]="listado" [rows]="4" [paginator]="true" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="nombre">Name <p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="imagen">Image  <p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="url">Price <p-sortIcon field="url"></p-sortIcon></th>
            <th pSortableColumn="estado">Status <p-sortIcon field="estado"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.nombre}}</td>
            <td><img [src]="'assets/images/' + product.imagen" [alt]="product.nombre" width="100" class="p-shadow-4" /></td>
            <td>{{product.url}}</td>
            <td>{{product.estado}}</td>
        </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            En total hay {{listado ? listado.length : 0 }} banners.
        </div>
    </ng-template> -->
</p-table>
      </div>
    </div>
  
  </div>
