<div class="col-xl-12">
    <div class="ui-g-12 content">
        <div class="container">
            <h1>Clientes</h1>
        </div>
      <div>
        <div class="btn-registrar">
            <button class="btn btn-primary btn-lg-maintenance mr-3" (click)="onClickNuevo()">Registrar</button>
            <label class="label-espacio">Filtrar Juego:</label>
            <input type="text" name="nombre"  class="form-control" placeholder="Nombre del Juego">
        </div>
        <p-table #dt [value]="listado" [rows]="8" [paginator]="true" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="nombres">Nombre y Apellido<p-sortIcon field="nombres"></p-sortIcon></th>
                <th pSortableColumn="dni">DNI<p-sortIcon field="dni"></p-sortIcon></th>
                <th pSortableColumn="correo">Correo<p-sortIcon field="correo"></p-sortIcon></th>
                <th pSortableColumn="numero">Teléfono<p-sortIcon field="numero"></p-sortIcon></th> 
                <th pSortableColumn="accion">Acción <p-sortIcon field="accion"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.nombres}}</td>
                <td>{{product.dni}}</td>
                <td>{{product.correo}}</td>
                <td>{{product.numero}}</td>
                <td>
                    <button class = "btn btn-primary"
                        (click)="onClickNuevo()"
                        data-toggle="modal" data-target = "#modalB"> Editar
                    </button>
                </td>
            </tr>
        </ng-template>
        </p-table>
      </div>
    </div>
</div>