<div class="col-xl-12">
    <div class="ui-g-12 content">
        <div class="container">
            <h1>Términos y Condiciones</h1>
        </div>
        <div class="col detalle">
            <div class="label-espacio">
                <label class="label-espacio">General:</label>
                <p class="parrafo">
                    Sin la previa autorización por escrito del proveedor, los usuarios no estpan autorizados a copiar, modificar, alterar, ditribuir, transmitir, mostrar, reproducir, transmitir, mostrar, reproducir, transferir, cargar, descargr o de otra manera utilizar o alterar cualquiera de los 
                    contenidos que ofrecemos.
                    El uso de la marca registrada y marcas relacionas está prohibído. Todos los derechos reservados.}
                    Cualquier incumplimiento de esta cláusula puede ser equivalente a una violación de los derechos de propiedad intelectual.
                </p>
                <div class="label-espacio">
                    <img src="'../../../assets/images/descarga.png" style="width: 250px;height: 250px;">
                </div>
            </div>
            <form role="form" (ngSubmit)="loggearCliente()" >
                <div class="btn-regresar">
                    <div class="alinear-boton">
                        <button id="btn-regresar" class="btn regresar-btn">Regresar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    
